:root{
  --sectionColor: linear-gradient(to bottom, #5FFBF1, #86A8E7, #BDE0FE); 
  --mainBorderColor: rgba(255,255,255,0.5); 
  --sidesBorderColor: rgba(255,255,255,0.2);
  --shadowColor: rgba(0,0,0,0.1);
  --iconColor: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  height: 100vh;
  display:grid;
  place-content: center;
  background: var(--sectionColor);  
}

ul {
  display: flex;
}
ul li {
  list-style: none;
  margin: 15px;
}
ul li a {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  display:grid;
  place-content: center;
  text-decoration: none;
  color: var(--iconColor);
  font-size: 2.2em;
  border: 1px solid var(--mainBorderColor);
  border-left: 1px solid var(--sidesBorderColor);
  border-bottom: 1px solid var(--sidesBorderColor);
  box-shadow: 0 5px 45px var(--shadowColor);
  backdrop-filter: blur(5px);
  transition: 0.3s;
  overflow: hidden;
}
ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: var(--mainBorderColor);
  transform: translateX(100px);
  transition: 0.5s;
}
ul li a svg{
  transition: .3s;
}
ul li a:hover {
  transform: rotate(-45deg);
}
ul li a:hover svg{
    transform: rotate(45deg);
}
ul li a:hover::before {
  transform: translateX(-150px);
}